<div class='row justify-content-center' style="margin-top: 15px;">
    <h2> Patient </h2>
</div>

<div class="card body p-2 text-center" style="border-radius: 1rem; margin-bottom: 15px;">
    <div class='row justify-content-center' style="margin-top: 10px;">
        <p style="margin:15px;">Case: Last Name</p>
        <p style="margin:15px;">DYFS: 00000</p>
        <p style="margin:15px;">Status: Closed</p>
    </div>
</div>

<div class="card body p-2 text-center" style="border-radius: 1rem; margin-bottom: 15px;">

    <button type="button" class="btn btn-link"><a href="../patients">Return to Patient List</a></button>

    {{!-- <div class='row justify-content-center'>
        <button style="margin:5px;" type="button" class="btn btn-secondary">Make Family Member A Patient</button>
        <button style="margin:5px;" type="button" class="btn btn-secondary">Make Family Member An Actor</button>
    </div> --}}

    <div id="btn-login" class="row justify-content-center">
        <button type="submit" class="btn btn-primary btn-md">Update</button>
    </div>
</div>

<div class="card body p-2 text-center" style="border-radius: 1rem; margin-bottom: 15px">
    <h4>Patients/Family Members</h4>

    <div class="form-group row">
        <form action="/cases/patients/edit" method="GET">
        <label style="margin:15px;" for="patientPopSelector">Pre-fill form with patient info:</label>
        <select name="patientPopSelector" id="patientPopSelector">
            <option value="-Select-">-Select-</option>
            {{#each patients}}
                <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
            <option value="name1">First Last1</option> {{!-- Delete after we have data --}}
            <option value="name2">First Last2</option>
            <option value="name3">First Last3</option>
            <option value="name4">First Last4</option>
        </select>
        <div class="row justify-content-center" style="margin: 15px;">
            <button type="submit" class="btn btn-secondary" id="populatePatient">Populate</button>
        </div>
        </form>
    </div>

    <div class="form-group row">
        <form action="/cases/patients/edit" method="GET">
        <label style="margin:15px;" for="family members">Pre-fill form with family member info:</label>
        <select name="family" id="familyPopSelector">
            <option value="-Select-">-Select-</option>
            {{#each family}}
                <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
            <option value="name1">First Last1</option> {{!-- Delete after we have data --}}
            <option value="name2">First Last2</option>
            <option value="name3">First Last3</option>
            <option value="name4">First Last4</option>
        </select>
        <div class="row justify-content-center" style="margin: 15px;">
            <button type="button" class="btn btn-secondary" id="populateFamily">Populate</button>
        </div>
        </form>
    </div>

    <div class="card body p-2 text-center" style="border-radius: 1rem; margin-bottom: 15px">
        {{!-- <h4>Patient</h4>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="all">
            <label class="form-check-label" for="all">
                All
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="patient1" checked>
            <label class="form-check-label" for="patient1">
                First Last1
            </label>
        </div> --}}

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="medicalRefNum">Medical Ref #: <abbr title="required"
                        aria-label="required">*</abbr></label>
                <input id="medicalRefNum" type="text" name="medicalRefNum" value="{{form.medicalRefNum}}">
            </div>
        </div>

        <h4>Patient Info</h4>
        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="firstName">First Name: <abbr title="required"
                        aria-label="required">*</abbr></label>
                <input id="firstName" type="text" name="firstName" value="{{form.firstName}}">
            </div>
            <div>
                <label style="margin:15px;" for="lastName">Last Name: <abbr title="required"
                        aria-label="required">*</abbr></label>
                <input id="lastName" type="text" name="lastName" value="{{form.lastName}}">
            </div>
            <div>
                <label style="margin:15px;" for="middleInitial">MI:</label>
                <input id="middleInitial" type="text" name="middleInitial" value="{{form.middleInitial}}">
            </div>
        </div>
        
        <div class="form-group row">
            <label style="margin:15px;" for="legalFamilyCustodian">Legal Family Custodian:<abbr title="required"
                    aria-label="required">*</abbr></label>
            <select name="legalFamilyCustodian" id="legalFamilyCustodian">
                <option value="-Select-">-Select-</option>
                {{#each family}}
                    {{#ifCond this._id '==' form.legalFamilyCustodian}}
                        <option value="{{this._id}}" selected>{{this.name}}</option>
                    {{else}}
                        <option value="{{this._id}}">{{this.name}}</option>
                    {{/ifCond}}
                {{/each}}
                <option value="name1">First Last1</option> {{!-- Delete after we have data --}}
                {{#ifCond "name2" '==' form.legalFamilyCustodian}}
                <option value="name2" selected>First Last2</option>
                {{else}}
                <option value="name2">First Last2</option>
                {{/ifCond}}
                <option value="name3">First Last3</option>
                <option value="name4">First Last4</option>
            </select>
        </div>
        {{#if form.legalFamilyCustodian}}
        <div class="form-group row" id="location-for-relationship">
        {{else}}
        <div class="form-group row" id="location-for-relationship" hidden> {{!-- Hide this until something above changes --}}
        {{/if}}
            <label style="margin:15px;" for="custodianRelationship">Custodian Relationship:</label>
            <select name="custodianRelationship" id="custodianRelationship">
                <option value="-Select-">-Select-</option>
                {{#ifCond form.custodianRelationship '==' "mother"}}
                <option value="mother" selected>Mother</option>
                {{else}}
                <option value="mother">Mother</option>
                {{/ifCond}}
                {{#ifCond form.custodianRelationship '==' "father"}}
                <option value="father" selected>Father</option>
                {{else}}
                <option value="father">Father</option>
                {{/ifCond}}
                {{#ifCond form.custodianRelationship '==' "guardian"}}
                <option value="guardian" selected>Guardian</option>
                {{else}}
                <option value="guardian">Guardian</option>
                {{/ifCond}}
                {{#ifCond form.custodianRelationship '==' "other"}}
                <option value="other" selected>Other</option>
                {{else}}
                <option value="other">Other</option>
                {{/ifCond}}
            </select>
        </div>

        <div class="form-group row">
            <label style="margin:15px;" for="legalNonFamilyCustodian">Legal Non-Family Custodian:<abbr title="required"
                    aria-label="required">*</abbr></label>
            <select name="legalNonFamilyCustodian" id="legalNonFamilyCustodian">
                <option value="-Select-">-Select-</option>
                {{#each staff}}
                {{#ifCond this._id '==' form.legalNonFamilyCustodian}}
                    <option value="{{this._id}}" selected>{{this.name}}</option>
                {{else}}
                    <option value="{{this._id}}">{{this.name}}</option>
                {{/ifCond}}
                {{/each}}
                <option value="name1">First Last1</option> {{!-- Delete after we have data --}}
                <option value="name2">First Last2</option>
                <option value="name3">First Last3</option>
                <option value="name4">First Last4</option>
            </select>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="ssn">Social Security:<abbr title="required"
                        aria-label="required">*</abbr></label>
                <input id="ssn" type="text" name="ssn" value="{{form.ssn}}">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="dob">DOB:<abbr title="required" aria-label="required">*</abbr></label>
                <input id="dob" type="text" name="dob" value="{{form.dob}}">
            </div>
        </div>

        <div class="form-group row" id="location-for-age" hidden> {{!-- Hide this until something above changes --}}
            <div>
                Age:
            </div>
        </div>  

        <div class="form-group row">
            <label style="margin:15px;" for="gender">Gender:<abbr title="required"
                    aria-label="required">*</abbr></label>
            <select name="gender" id="gender">
                <option value="-Select-">-Select-</option>
                {{!-- <option value="female">Female</option>
                <option value="male">Male</option>
                <option value="nb">Non-Binary</option>
                <option value="other">Other</option> --}}
                {{#ifCond form.gender '==' "female"}}
                <option value="female" selected>Female</option>
                {{else}}
                <option value="female">Female</option>
                {{/ifCond}}
                {{#ifCond form.gender '==' "male"}}
                <option value="male" selected>Male</option>
                {{else}}
                <option value="male">Male</option>
                {{/ifCond}}
                {{#ifCond form.gender '==' "nb"}}
                <option value="nb" selected>Non-Binary</option>
                {{else}}
                <option value="nb">Non-Binary</option>
                {{/ifCond}}
                {{#ifCond form.gender '==' "other"}}
                <option value="other" selected>Other</option>
                {{else}}
                <option value="other">Other</option>
                {{/ifCond}}
            </select>
        </div>

        <div class="form-group row">
            <label style="margin:15px;" for="legalStatus">Legal Status:<abbr title="required"
                    aria-label="required">*</abbr></label>
            <select name="legalStatus" id="legalStatus">
                <option value="-Select-">-Select-</option>
                {{#ifCond form.legalStatus '==' "citizen"}}
                <option value="citizen" selected>Citizen</option>
                {{else}}
                <option value="citizen">Citizen</option>
                {{/ifCond}}
                {{#ifCond form.legalStatus '==' "resident"}}
                <option value="resident" selected>Resident</option>
                {{else}}
                <option value="resident">Resident</option>
                {{/ifCond}}
                {{#ifCond form.legalStatus '==' "non-immigrant"}}
                <option value="non-immigrant" selected>Non-Immigrant</option>
                {{else}}
                <option value="non-immigrant">Non-Immigrant</option>
                {{/ifCond}}
                {{#ifCond form.legalStatus '==' "other"}}
                <option value="other" selected>Other</option>
                {{else}}
                <option value="other">Other</option>
                {{/ifCond}}
            </select>
        </div>

        <div class="form-group row">
            <label style="margin:15px;" for="language">Primary Language Spoken:<abbr title="required"
                    aria-label="required">*</abbr></label>
            <select name="language" id="language">
                <option value="-Select-">-Select-</option>
                {{#each language}}
                {{#ifCond this '==' form.language}}
                    <option value="{{this}}" selected>{{this}}</option>
                {{else}}
                    <option value="{{this}}">{{this}}</option>
                {{/ifCond}}
                {{/each}}
                <option value="english">English</option>
                <option value="spanish">Spanish</option>
                <option value="chinese">Chinese</option>
                <option value="french">French</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="address">Address:<abbr title="required"
                        aria-label="required">*</abbr></label>
                <input id="address" type="address" name="address" value="{{form.address}}">
            </div>
        </div>
        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="address2">Address 2:</label>
                <input id="address2" type="address2" name="address2" value="{{form.address2}}">
            </div>
        </div>
        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="city">City:<abbr title="required"
                        aria-label="required">*</abbr></label>
                <input id="city" type="text" name="city" value="{{form.city}}">
            </div>
        </div>

        <div class="form-group row">
            <label style="margin:15px;" for="county">County:<abbr title="required"
                    aria-label="required">*</abbr></label>
            <select name="county" id="county">
                <option value="-Select-">-Select-</option>
                {{#each county}}
                {{#ifCond this '==' form.county}}
                    <option value="{{this}}" selected>{{this}}</option>
                {{else}}
                    <option value="{{this}}">{{this}}</option>
                {{/ifCond}}
                {{/each}}
                <option value="essex">Essex</option> {{!--need to get all counties--}}
                <option value="other">Other</option>
            </select>
        </div>

        <div class="form-group row">
            <label style="margin:15px;" for="state">State:<abbr title="required" aria-label="required">*</abbr></label>
            <select name="state" id="state">
                <option value="-Select-">-Select-</option>
                {{#each state}}
                {{#ifCond this '==' form.state}}
                    <option value="{{this}}" selected>{{this}}</option>
                {{else}}
                    <option value="{{this}}">{{this}}</option>
                {{/ifCond}}
                {{/each}}
                <option value="new jersey">New Jersey</option> {{!--need to get all states--}}
                <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="zipCode">Zip Code:<abbr title="required"
                        aria-label="required">*</abbr></label>
                <input id="zipCode" type="text" name="zipCode" value="{{form.zipCode}}">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="phone">Phone:<abbr title="required"
                        aria-label="required">*</abbr></label>
                <input id="phone" type="text" name="phone" value="{{form.phone}}">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="phone2">Phone 2:</label>
                <input id="phone2" type="text" name="phone2" value="{{form.phone2}}">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="mobile">Mobile:</label>
                <input id="mobile" type="text" name="mobile" value="{{form.mobile}}">
            </div>
        </div>

        <div class="form-group row">
            <div>
                <label style="margin:15px;" for="email">Email:</label>
                <input id="email" type="text" name="email" value="{{form.email}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="specialNeeds" class="col-sm-2 col-form-label">Special Needs/ Disabilities:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control  form-control-sm" name="specialNeeds" id="specialNeeds" value="{{form.specialNeeds}}">
            </div>
        </div>
    </div>
</div>
</div>
</div>
