<!-- 
    Family name will be pulled from database and patient names should be stored
    with the family name. Add patient will add data point to family within case.
    
    Patient data pulled from database. Button should include form to promptly
    store information regarding Age/DOB and sex.
-->


<div class='row justify-content-center' style="margin-top: 10px;">
    <h3> Patients </h3>
</div>

<div class='row justify-content-center'>
    <!-- {{familyName}} -->
    <p>[Family Name]</p> <!-- Delete this after figuring out what it is -->
</div>

<div class="row justify-content-center">

    {{!-- <table class="table table-hover" style="background-color: silver; width:200%;"> --}}
    {{#if patients}}
        <table class="table" style="width:70%;">
            <tr>
                <th>Patient Name</th>
                <td>DOB</td>
                <td>Gender</td>
            </tr>
            {{#each patients}}
                <tr>
                {{#if this.firstName}}
                    <th><a href="/cases/{{../caseId}}/patients/edit/{{this._id}}">{{this.firstName}} {{this.lastName}}</a></th>
                {{else}}
                    <th>N/A</th>
                {{/if}}
                {{#if this.DOB}}
                    <th>{{this.DOB}}</th>
                {{else}}
                    <th>N/A</th>
                {{/if}}
                {{#if this.gender}}
                    <th>{{this.gender}}</th>
                {{else}}
                    <th>N/A</th>
                {{/if}}
                </tr>
            {{/each}}
        </table>
    {{else}}
        <p>There are no patients recorded.</p>
    {{/if}}
</div>


<div class='row justify-content-center'>
    <button type="button" class="btn btn-secondary btn-sm"><a href="/cases/{{caseId}}/patients/edit/new">Add Patient</a></button>
</div>